<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <!-- LOG everything at {level} -->
    <root level="debug">
<!--        <appender-ref ref="RollingFile" />-->
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.example" level="debug" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>