<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%c{1}): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <root level="debug">
<!--        <appender-ref ref="RollingFile" />-->
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="requestLogger" level="debug" additivity="false">
        <!--        <appender-ref ref="RollingFile" />-->
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="com.example" level="debug" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>